
<form class="form">
    <p class="form-title">Sign up your own account</p>
     <div class="input-container">
       <input placeholder="Enter email" type="email" name="email">
       
   </div>

   <div class="input-container">
    <input placeholder="Enter phonenumber" type="tel" name="phonenumber">
  </div>
   <div class="input-container">
       <input placeholder="Enter password" type="password" name="password">

       
     </div>
     <div class="input-container">
        <input placeholder="Enter password again" type="password" name="rePass">
      </div>
      <button class="submit" type="submit">
     Sign up
   </button>

   <p class="signup-link">
     Already has an acount?
     <a routerLink="/login">Sign in</a>
   </p>
</form>
